@media screen and (min-width: 200px) and (max-width : 500px){
  body {
    .container {
      .content {
        width: 100%;
        margin: 0;
        #cd-timeline {
          margin-right: 0;
        }
      }
      #portfolioDoc {
        margin-top:10px;
      }
      .huh {
        padding: 0;
      }
      .content {
        width: 100%;
        margin-right: 0;
      }
      footer .row {
        margin-bottom: 28px;
      }
    }
  }
  body #social-bar {
    display: none;
  }
  #social-bar-fixed {
    display:block;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left:0px;
    z-index:501;
    li {
      width:20%;
      display: inline-block;
      padding: 8px 0px;
      text-align: center;
      background-color: $blue;

      a {
        color: white;
      }
    }
  }

  .container #banner {
    width: 100%;
    overflow-x: hidden;
    img {
      min-height: 267px;
      min-width: 1015px;
      margin-left:-250px;

    }
    .bubble {
      background: rgba(255, 255, 255, 0.6);
      font-size: 13px;
      max-width:45%;
      right: 5px;
      top:10px;
      line-height: 1.2;
    }
  }

  .container #stats {
    #statsDiv {
      width: 100%;
      #statsList {
        margin-left:0;
        li {
          font-size: 12px;
          text-align: center;
          width: 24%;
        }
      }
    }
    #headshotDiv {
      width:0%;
      #headshot {
        display: none;
      }
    }
  }
  
  #portfolioDoc .fadeable {
    opacity: 1.0;
  }

  .ribbon {
    margin:0;
  }
  .ribbon:after {
    display: none;
    left:0px;
  }
  .ribbon:after {
    display: none;
    left:0px;
  }
  .ribbon .ribbon-content:after {
    display: none;
    left:0px;
  }
  .ribbon .ribbon-content:after {
    display: none;
    left:0px;
  }

  #resume, #portfolio, #nameTag, #github {
    line-height: 3.5;
  }

}